@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Roboto:wght@100&display=swap');

body{
  font-family:"ROBOTO Condensed sans-serif"
}
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primarr-dark:rgba(255,255,255,0)
}


.navbar-nav{
     margin-left: auto;
}

nav a.nav-link{
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  cursor:pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li >a {
  margin-right:0.75rem;
  margin-left:0.75rem;
color:var(--primary-white) !important;
border-top: 3ps solid var(--primarr-dark)
}
.navbar-brand{
  color:var(--primary-white) !important
}
.navbar-nav > li > a.active, .navbar-nav>li> a.active:focus{
border-top :3px solid var(--primary-orange) ;
}
.navbar-nav>li>a:hover{
  border-top:0.1875rem solid var(--primary-orange)
}